@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("assets/Roboto-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("assets/Roboto-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    src: local("Roboto"),
         /* Если не получилось, загрузит woff2 */
         url("assets/Roboto-Bold.ttf") format("truetype");
  }
  * {
      margin: 0;
      padding: 0;
      
  }
  a {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: #fff;
   }
   a:hover {
    text-decoration: underline;
   }
   .social-ic:hover{
    cursor: pointer;
   }
.button-1 button:hover{
  background-color:#009CC2;
}
.button-2 button:hover{
  background-color: #009CC2;
}
  .pages{
      width: 1600px;
      
      margin: 0 auto;
  }
  .page-1{
    height: 744px;
    
    background-image: url("assets/bg-image-wrapper.png");
  }
  .header{
      
      height: 95px;
      
  }
  .nav-bar{
      text-align: center;
      height: inherit;
  }
    .header-ul{
    align-content: center;
    margin : 0;
    padding: 0;
    height: inherit;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.8;
    display: flex;
    justify-content: center;
  }
  .nav-3{
    height: 45px;
    
  }
  .nav-1{
    padding-right: 85px;
    text-decoration: underline;
  }
  .nav-5{
    padding-left: 85px;
  }
  .nav-2{
    padding-right: 100px;
    width: 53px;
    height: 20px;
  }
  .nav-4{
    padding-left: 100px;
  }
  .nav-wrapper{
    height: 95px;
  }
.text-1{
padding-top: 135px;
  font-family: "Roboto";
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
/* identical to box height */


align-items: center;
text-align: center;
letter-spacing: 4.5px;
text-transform: uppercase;
color: #FFFFFF;
}
.text-2{
  padding-top: 20px;
  font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
/* or 25px */
text-align: center;
color: #FFFFFF;
}

button{
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  color: #FFFFFF;
  width: 184px;
  height: 46px;
  background-color: #00AFDB;
  border: none;
}


.button-1{
  text-align: center;
  padding-top: 30px;
 
}
.social{
  width: 170px;
  padding-top: 183px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-ic{
  padding-right: 30px;
  
}  
.social-wrapper{
  width: 170px;
  margin: 0 auto;
}
.page-2{
  height: 842px;
  margin: 0 auto;
}
.content-text{
  width: 407px;
  height: 233px;
}
h2{
font-family: "Roboto";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
text-transform: uppercase;

color: #373737;
}
h5{
padding-top: 22px;
padding-bottom: 30px;
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */
color: #4E4E4E;
}
.page-2-wrapper{
  align-items: center;
  padding-top: 120px;
  display: flex;
  padding-left: 269px;
  padding-right: 269px;
}
.content-img{
  padding-left: 248px;
}
.page-3{
  height: 504px;
  background-color: #F5F6F7;
}
.user-card{
  width: 298px;
  height: 175px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-right: 139px;
  flex: 0 0 auto;
  padding-left: 269px;
  padding-top: 35px;
}
h3{
  padding-bottom: 10px;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */
align-items: center;
text-align: center;
letter-spacing: 2.4px;
text-transform: uppercase;
color: #373737;
}
.page-3-t{
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */
align-items: flex-end;
text-align: center;
color: #4E4E4E;
}
.userpic{
  text-align: center;
  padding-bottom: 20px;
}
h1{
  display: none;
}
.slider{
  width: 83px;
  height: 18px;
  text-align: center;
  padding-top: 82px;
  padding-left: 1248px;
  padding-bottom: 20px;
}
.divider-icon{
  
}
.left-ar:hover{
  opacity: 0.5;
  cursor: pointer;
}
.right-ar:hover{
  opacity: 0.5;
  cursor: pointer;
}
span{
font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 100%;
/* identical to box height, or 18px */
align-items: center;
color: #373737;
}
.slider-items{
  display: flex;
 
  
}
.content-3-wrapper{
  display: flex;
  overflow: hidden;
}
.slider-item{
  padding-right: 30px;
}
.content-4-text{
  width: 407px;
  height: 184px;
  padding-top: 115px;
}
.page-4-wrapper{
  display: flex;
  align-items: center;
}
.content-4-img{
  padding-top: 120px;
  padding-left: 269px;
  padding-right: 139px;
}.button-4{
  width: 180px;
  height: 46px;
}